extends ./layout/index

block contenido
  main.container.mt-5 
    .row 
      .col-md-5 
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus felis ac ligula eleifend, id varius augue porttitor. Quisque finibus nec velit eu condimentum. Sed justo ante, ultrices eget erat sed, convallis commodo metus. In eget lorem euismod metus sodales aliquam. Fusce quis nulla sed leo convallis auctor. Vestibulum a placerat nunc. Pellentesque hendrerit feugiat lectus et varius. Sed posuere lacus eget risus dapibus lacinia.

        p Vestibulum molestie massa ac risus laoreet, id porta tellus faucibus. Integer eu dignissim tortor, at tincidunt massa. Pellentesque ac metus vitae odio tincidunt auctor non vitae ipsum. Proin pellentesque gravida blandit. Nulla purus nisi, malesuada id pulvinar vel, posuere at erat. Praesent ante quam, porta quis

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique sem elit, a porta nisi consectetur sed. Nullam volutpat augue nec commodo posuere. Cras rutrum varius mi, ac tristique erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur quis mauris laoreet, finibus sem vel, volutpat metus. Quisque fringilla,
  .listado-iconos 
    .container.mt-5.py-5.text-center 
     .row 
      .col-md-4
        img(src="img/icono_seguridad.svg", alt="iconos seguridad", class="img-fluid mb-4")
        h2.mb-4 Seguridad 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maxime fugit a ea dolor officiis, voluptas tempore cupiditate beatae molestiae!

      .col-md-4
        img(src="img/icono_destinos.svg", alt="iconos destinos", class="img-fluid mb-4")
        h2.mb-4 Mejores Destinos 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maxime fugit a ea dolor officiis, voluptas tempore cupiditate beatae molestiae!

      .col-md-4
        img(src="img/icono_precios.svg", alt="iconos precios", class="img-fluid mb-4")
        h2.mb-4 Los Mejores Precios 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maxime fugit a ea dolor officiis, voluptas tempore cupiditate beatae molestiae!
